package main

import (
	"fmt"
	"strings"

	"github.com/BurntSushi/toml"
	"github.com/go-playground/validator/v10"
)

var input = `{{.Input}}`

var value {{.RootTypeName}}

{{range $v := .TypeDefinitions}}
type {{$v}}
{{end}}

func main() {
	d := toml.NewDecoder(strings.NewReader(input))
	if _, err := d.Decode(&value); err != nil {
		reportError(err.Error())
		return
	}
	{{template "validate"}}
}

func reportError(msg string) {
	fmt.Printf("{{.StdoutErrPrefix}}%v\n", msg)
}
