package main

import (
	"encoding/json"
	"fmt"
	"strings"

	"github.com/go-playground/validator/v10"
)

var value {{.TypeDefinition}}
var input = `{{.Input}}`

func main() {
	d := json.NewDecoder(strings.NewReader(input))
	d.DisallowUnknownFields()
	if err := d.Decode(&value); err != nil {
		reportError(err.Error())
		return
	}
	{{template "validate"}}
}

func reportError(msg string) {
	fmt.Printf("{{.StdoutErrPrefix}}%v\n", msg)
}
