package main

import (
	"fmt"
	"strings"

	"github.com/go-playground/validator/v10"
	"github.com/hashicorp/hcl/v2/hclsimple"
)

var input = []byte(`{{.Input}}`)

var value {{.RootTypeName}}

{{range $v := .TypeDefinitions}}
type {{$v}}
{{end}}

func main() {
	if err := hclsimple.Decode("{{.InputFileName}}", input, nil, &value); err != nil {
		reportError(err.Error())
		return
	}
	{{template "validate"}}
}

func reportError(msg string) {
	fmt.Printf("{{.StdoutErrPrefix}}%v\n", msg)
}
